@charset "utf-8";

/* 변수 (옵션으로 설정안해도 동작한다.) */
.checkable-var{
    --text-color: #333;
    --background-color: #fff;
    --checked-color: #333;
    --border-color: #aaa;
    --border-width: 0.2em;
    --border-style: solid;
    --border-radius: 0em;
    --padding:0px;
    --margin:0px;
    --checked-text:"✔";
    --checked-text-font-weight: bold;
    --checked-text-font-size:inherit;
    --checked-image:url("checkable/check-img.png");
    --transition-property:all;
    --transition-delay:0s;
    --transition-duration:0.3s;
    --transition-timing-function:ease;
    --transition-margin:-1em 0 0 0;
    --width:1em;
    --height:1em;
    --check-btn-text:attr(value);
}
.checkable-var-red{
    --text-color: #f33;
    --background-color: #fff;
    --checked-color: #f33;
    --border-color: #faa;
    --checked-text:"X";
    --checked-image:url("checkable/check-img-2.png");
}


/* 기본 모양 */
.checkable{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 

    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;

    display: inline-block;
    
    height:var(--height,1em);
    width:var(--width,1em);
    vertical-align: middle;
    overflow: visible;
    position: relative;
    box-sizing: border-box;
}
.checkable *{
    box-sizing: border-box;
}

/* 베이스 모양 설정 */
.checkable::before{
    display: block;
    content: '';
    border-color:var(--border-color,#aaa);
    border-width:var(--border-width,0.2em);
    border-style:var(--border-style,solid);
    border-radius: var(--border-radius,0);
    height:100%;
    width:100%;
}
.checkable[type="radio"]::before{
    --border-radius:50%;
}
.checkable[type="checkbox"]::before{
    --border-radius:0;
}
.checkable.square::before{
    --border-radius:0;
}
.checkable.round::before{
    --border-radius:50%;
}
.checkable.diamond::before{
    --border-radius:0;
    transform: rotate(45deg);

}




/* 체크된 모양 설정 */
.checkable::after{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    top:0;right:0;left:0;bottom: 0;
}
.checkable:checked::before{
    background-color: var(--checked-color,#333);

}

.checkable.check-text:checked,
.checkable.check-image:checked{
    --checked-color: var(--background-color,#fff);
}
.checkable.check-text:checked::after{
    content: var(--checked-text,"✔");
    font-weight: var(--checked-text-font-weight,bold);
    font-size: var(--checked-text-font-size,inherit);
}
.checkable.check-image:checked::after{
    content: '';
    background-image: var(--checked-image,url("checkable/check-img.png"));
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}



/* transition */
.checkable.transition::after{
    transition-property: var(--transition-property,all);
    transition-delay: var(--transition-delay,0);
    transition-duration: var(--transition-duration,0.3s);
    transition-timing-function:var(--transition-timing-function,ease);
}
.checkable.transition::after{
    display: flex !important;
    visibility: hidden;
    opacity: 0;
}
.checkable.transition:checked::after{
    display: flex !important;
    visibility: visible;
    opacity: 1;
}
.checkable.transition.transition-margin::after{
    margin: var(--transition-margin, 1em 0 0 0);
}
.checkable.transition.transition-margin:checked::after{
    margin: 0 0 0 0;
}

.checkable.transition.transition-blur::after{
    filter:blur(0.5em)
}
.checkable.transition.transition-blur:checked::after{
    filter:blur(0);
}

















/*
colors / 부트스트랩 호환 4+
*/
.checkable.primary{
    --text-color:var(--primary,#007bff);
    --checked-color:var(--primary,#007bff);
}
.checkable.secondary{
    --text-color:var(--secondary,#6c757d);
    --checked-color:var(--secondary,#6c757d);
}
.checkable.success{
    --text-color:var(--success,#28a745);
    --checked-color:var(--success,#28a745);
}
.checkable.info{
    --text-color:var(--info,#17a2b8);
    --checked-color:var(--info,#17a2b8);
}
.checkable.warning{
    --text-color:var(--warning,#ffc107);
    --checked-color:var(--warning,#ffc107);
}
.checkable.danger{
    --text-color:var(--danger,#dc3545);
    --checked-color:var(--danger,#dc3545);
}
.checkable.light{
    --text-color:var(--light,#f8f9fa);
    --checked-color:var(--light,#f8f9fa);
}
.checkable.dark{
    --text-color:var(--dark,#343a40);
    --checked-color:var(--dark,#343a40);
}

.checkable.border-primary{
    --border-color:var(--primary,#007bff);
}
.checkable.border-secondary{
    --border-color:var(--secondary,#6c757d);
}
.checkable.border-success{
    --border-color:var(--success,#28a745);
}
.checkable.border-info{
    --border-color:var(--info,#17a2b8);
}
.checkable.border-warning{
    --border-color:var(--warning,#ffc107);
}
.checkable.border-danger{
    --border-color:var(--danger,#dc3545);
}
.checkable.border-light{
    --border-color:var(--light,#f8f9fa);
}
.checkable.border-dark{
    --border-color:var(--dark,#343a40);
}