@charset "utf-8";
/* 공대여자는 예쁘다 */

/* 변수 (옵션으로 설정안해도 동작한다.) */
:root ,
.checkable-var-reset{
    --checkable-text-color: #333;
    --checkable-background-color: #fff;
    --checkable-checked-color: #333;
    --checkable-border-color: #aaa;
    --checkable-border-width:2px;
    --checkable-border-style: solid;
    --checkable-border-radius: 0em;
    --checkable-padding:0px;
    --checkable-margin:0px;
    --checkable-check-text:"✔";
    --checkable-check-text-font-weight: normal;
    --checkable-check-text-font-size:inherit;
    --checkable-check-img:url("checkable/check-img.png");
    --checkable-transition-property:all;
    --checkable-transition-delay:0s;
    --checkable-transition-duration:0.3s;
    --checkable-transition-timing-function:ease;
    --checkable-transition-margin:-1em 0 0 0;
    --checkable-width:1em;
    --checkable-height:1em;
    --checkable-check-btn-text:attr(value);
    --checkable-check-box-margin:2px;
    --checkable-check-box-border-width:var(--checkable-border-width,2px);

    
}

/* 기본 모양 */
.checkable{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 

    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;

    display: inline-block;
    
    height:var(--checkable-height,1em);
    width:var(--checkable-width,1em);
    vertical-align: middle;
    overflow: visible;
    position: relative;
    box-sizing: border-box;

    white-space:nowrap;
}
.checkable *{
    box-sizing: border-box;
}

/* 베이스 모양 설정 */
.checkable::before{
    display: block;
    content: '';
    border-color:var(--checkable-border-color,#aaa);
    border-width:var(--checkable-border-width,0.2em);
    border-style:var(--checkable-border-style,solid);
    border-radius: var(--checkable-border-radius,0);
    background-color: var(--checkable-background-color,#fff);
    margin: var(--checkable-margin,0);
    padding: var(--checkable-padding,0);
    height:100%;
    width:100%;
}


/* 꾸밈 */

/* .checkable:hover{
    filter: brightness(1.2);
} */
.checkable:disabled{
    filter: grayscale(1) contrast(2) brightness(0.5) !important;
}
.checkable.auto{
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto; 
}
.checkable::after{
    content: none;
}

.checkable[type="radio"]::before,
.checkable.rounded::before,
.checkable.check-box[type="radio"]::after,
.checkable.check-box.rounded::after{
    border-radius: 10em !important;
}
.checkable.square::before,
.checkable.check-box.square::after{
    border-radius: 0 !important;
}
.checkable.diamond::before,
.checkable.check-box.diamond::after{
    border-radius: 0 !important;
    transform: rotate(45deg);
}
.checkable.check-btn{
    height:auto;
    width:auto;
    filter: grayscale(0.9) brightness(0.5) contrast(0.5);
}
.checkable.check-btn:checked{
    filter: grayscale(0) brightness(1)  contrast(1);
}
.checkable.check-btn::before{
    content: var(--checkable-check-btn-text,attr(value));
    display: inline-block;
    position: static;
    --checkable-width:auto;
    --checkable-height:auto;
    --checkable-border-width:0px;
    --checkable-background-color:transparent;
}
.checkable.check-btn:checked::before{
    text-decoration:none;
}

/* default checked */

/* .checkable:checked::before{
    background-color: var(--checkable-checked-color,#333);
} */


/* check-mark,check-text,check-img */
/* .checkable.check-mark:checked::before ,
.checkable.check-text:checked::before ,
.checkable.check-img:checked::before{
    background-color: var(--checkable-background-color);
} */
/* .checkable.check-mark.transition::before ,
.checkable.check-text.transition::before ,
.checkable.check-img.transition::before{
    transition-property: none;
} */
.checkable::after{
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 5;
}
.checkable.check-box::after{
    display: block;
    content: '';
    /* border-color:var(--checkable-background-color,#fff); */
    border-color:var(--checkable-background-color,#fff);
    border-width:var(--checkable-check-box-border-width);
    border-style:var(--checkable-border-style,solid);
    border-radius: var(--checkable-border-radius,0);
    background-color: var(--checkable-checked-color,#333);
    /* margin: var(--checkable-margin,0);
    padding: var(--checkable-padding,0); */
    /* height:100%;
    width:100%; */
    margin:var(--checkable-check-box-margin);
    padding:0;
    /* left:var(--checkable-border-width, 2px);
    right:var(--checkable-border-width, 2px);
    top:var(--checkable-border-width, 2px);
    bottom: var(--checkable-border-width, 2px); */
    /* left:2px;right:2px;top:2px;bottom:2px; */
}
.checkable.check-mark::after{
    box-sizing: border-box;
    height:calc( var(--checkable-height,1em) / 2 );
    width:var(--checkable-width,1em);
    background-color: transparent;
    transform: rotate(319deg) scale(1);
    transform-origin: center top;
    display: flex;
    border-style: solid;
    border-width: 0.25em;
    border-color: var(--checkable-checked-color,#333);
    border-top-width: 0;
    border-right-width: 0;
    z-index: 5;
}
.checkable.check-text::after{
    content: var(--checkable-check-text,'✔');
    background-color: transparent;
    font-size: var(--checkable-check-text-font-size,inherit);
    font-weight: var(--checkable-check-text-font-weight,nromal);
    line-height: 1em;
    text-align: center;
    color: var(--checkable-checked-color,#333);
    z-index: 5;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.checkable.check-img::after{
    background-color: transparent;
    background-image: var(--checkable-check-img,url("checkable/check-img.png"));
    background-size: contain;
    background-repeat: no-repeat;
}
.checkable::after{
    display: none !important;
    
}
.checkable:checked::after{
    display: flex !important;
}
.checkable.check-btn::after{
    display: none !important;
}

/* transition */
.checkable.transition::after{
    transition-property: var(--checkable-transition-property,all);
    transition-delay: var(--checkable-transition-delay,0);
    transition-duration: var(--checkable-transition-duration,0.3s);
    transition-timing-function:var(--checkable-transition-timing-function,ease);
}
.checkable.transition::after{
    display: flex !important;
    visibility: hidden;
    opacity: 0;
}
.checkable.transition:checked::after{
    display: flex !important;
    visibility: visible;
    opacity: 1;
}
.checkable.transition.transition-blur::after{
    filter:blur(0.5em)
}
.checkable.transition.transition-blur:checked::after{
    filter:blur(0);
}


/*
colors / 부트스트랩 호환 4+
*/
.checkable.primary{
    --checkable-text-color:var(--primary,#007bff);
    --checkable-checked-color:var(--primary,#007bff);
}
.checkable.secondary{
    --checkable-text-color:var(--secondary,#6c757d);
    --checkable-checked-color:var(--secondary,#6c757d);
}
.checkable.success{
    --checkable-text-color:var(--success,#28a745);
    --checkable-checked-color:var(--success,#28a745);
}
.checkable.info{
    --checkable-text-color:var(--info,#17a2b8);
    --checkable-checked-color:var(--info,#17a2b8);
}
.checkable.warning{
    --checkable-text-color:var(--warning,#ffc107);
    --checkable-checked-color:var(--warning,#ffc107);
}
.checkable.danger{
    --checkable-text-color:var(--danger,#dc3545);
    --checkable-checked-color:var(--danger,#dc3545);
}
.checkable.light{
    --checkable-text-color:var(--light,#f8f9fa);
    --checkable-checked-color:var(--light,#f8f9fa);
}
.checkable.dark{
    --checkable-text-color:var(--dark,#343a40);
    --checkable-checked-color:var(--dark,#343a40);
}

.checkable.border-primary{
    --checkable-border-color:var(--primary,#007bff);
}
.checkable.border-secondary{
    --checkable-border-color:var(--secondary,#6c757d);
}
.checkable.border-success{
    --checkable-border-color:var(--success,#28a745);
}
.checkable.border-info{
    --checkable-border-color:var(--info,#17a2b8);
}
.checkable.border-warning{
    --checkable-border-color:var(--warning,#ffc107);
}
.checkable.border-danger{
    --checkable-border-color:var(--danger,#dc3545);
}
.checkable.border-light{
    --checkable-border-color:var(--light,#f8f9fa);
}
.checkable.border-dark{
    --checkable-border-color:var(--dark,#343a40);
}


/**
* for bootstrap 4
*/
.checkable.btn {
    --checkable-padding:0.375rem 0.75rem;
}
.checkable.btn-sm {
    --checkable-padding:0.25rem 0.5rem;
}
.checkable.btn-lg {
    --checkable-padding:0.5rem 1rem;
}